@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --base-clr: #11121a;
    --line-clr: #42434a;
    --hover-clr: #222533;
    --text-clr: #e6e6ef;
    --accent-clr: #5e63ff;
    --secondary-text-clr: #b0b3c1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.error { 
    font-size: 0.85rem;
    color: red; 
    font-weight: 50%px;
    input { padding: 8px; margin: 5px; }
    button { padding: 10px 20px; }
    
}
html, body {
    height: 100%;
    font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--hover-clr);
    color: var(--text-clr);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #11121a;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0px 0px 25px rgba(7, 90, 255, 0.4);
    width: 350px;
    text-align: center;
}

#login_text h4 {
    margin-bottom: 1.5rem;
    color: var(--accent-clr);
    font-size: 1.2rem;
}

label {
    display: block;
    text-align: left;
    font-size: 0.9rem;
    margin-bottom: 5px;
    font-weight: bold; 
    color: var(--secondary-text-clr);
}

.input-field {
    width: 100%;
    padding: 0.7rem;
    border: 1px solid var(--line-clr);
    border-radius: 8px;
    background-color: var(--hover-clr);
    color: var(--text-clr);
    outline: none;
    transition: border 0.3s;
}

.input-field:focus {
    border: 1px solid var(--accent-clr);
}

#forgot, #register {
    display: block;
    text-align: left;
    font-size: 0.8rem;
    margin-top: 0.5rem;
    color: var(--secondary-text-clr) !important;
    text-decoration: none;
    transition: color 0.3s;
}

#forgot:hover, #register:hover {
    color: var(--accent-clr) !important;
}

.btn-login {
    margin-top: 1.5rem;
    width: 100%;
    padding: 0.8rem;
    border: none;
    border-radius: 8px;
    background-color: var(--accent-clr);
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s;
}

.btn-login:hover {
    background-color: #454bff;
}

.links {
  display: flex;
  justify-content: space-between; 
  margin-top: -15px;  
  margin-bottom: 15px; 
}

.links a {
  color: grey;
  text-decoration: none;
  font-size: 14px;
}

.links a:hover {
  color: #fff; 
}








