<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Login Page</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/auth.css}">
</head>

<body>
  <div id="root">
    <div class="container">
      <div id="login_text">
        <h4>Login</h4>
      </div>
      <p th:if="${error}" class="error" th:text="${error}"></p>
      <form method="POST" th:action="@{/login}">
        <!-- <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/> -->
        
        <label for="username">Username:</label>
        <input class="input-field" type="text" id="username" name="username" th:value="${remainUser}" required>
        <br><br>

        <label for="password">Password:</label>
        <input class="input-field" type="password" id="password" name="password" required>
        <br><br>

        <div class="links">
          <a th:href="@{/forgot_password}" id="forgot">Forgot password?</a>
          <a th:href="@{/register}" id="register">Sign up</a>
        </div>
            
        <button class="btn-login" type="submit">Login</button>
      </form>
    </div>
  </div>
</body>
</html> 
